*

!.gitignore

# CI
!/.github/
!/.github/workflows/
!*.yml

!CMakeLists.txt
!.clang-format

# Docs
!*.md
!*.html
!*.js
!*.css
!*.svg
!Doxyfile


# Sources
!*.c
!*.h

# Testing scripts?
!*.sh

!/tests/
!/tests/modules/
!/src/
!/src/*

!/docs/
