*

!.gitignore

# CI
!/.github/
!/.github/workflows/
!*.yml

!CMakeLists.txt
!.clang-format

# Docs
!*.md
!*.html
!*.js
!*.css
!*.svg
!Doxyfile


# Sources
!*.c
!*.h

# Testing scripts?
!*.sh

!src/
!src/**

!/tests/
!/tests/**


!/docs/
!/docs/search
